@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestor escolar</h1>
    <p>
        Para el proyecto se utilizo lo siguiente:
        <ul>
            <li>.NET 7</li>
            <li>Aspnet Mvc</li>
            <li>Sql Server + SqlServer Management Studio</li>
            <li>EntityFramework + Linq</li>
            <li>Visual Studio 2022</li>
        </ul>
    </p>
</div>
